@import '../../common/sass/common';

portfolio {
    
    header {
        height: $headerHeight + px;    
    }
    
    section.content {
        padding-bottom: 3em;
        @include respond-to('small') {
            :last-child {
                padding-bottom: 1em;
            }            
        }
        
        h1 {
            @include mapTypeList((2, 2, 2, 2, 3, 3));
            padding-bottom: 0.3em;            
        }
    }
    
    .pure-g {
        @include respond-to('small') {
            :nth-child(n+1) {
                padding: 0 0 0 1em;
            }
            :first-child {
                padding: 0;
            }
            padding: 1em 0 0;            
        }
    }
    
    portfolio-item {
        visibility: hidden;
        margin-top: 2em;
        @include respond-to('small') {
            margin-top: 0;
        }
    }
    
}


