@import '../../common/sass/common';

home {
    @include full-height();
    
    header {
        height: $headerHeight + px;
    }
    
    main {
        flex-grow: 1;
    }
    
    h1 {
        @include mapTypeList((3, 1, 2, 2, 3, 3));
    }

    h2 {
        @include mapTypeList((3, 1, 1, 2, 3, 3));
    }

    h3 {
        @include mapTypeList((3, 1, 1, 2, 2, 2));
    }    
    
}

.app-sections {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-sections .app-section {
    cursor: pointer;
    background: #444650;
    @include respond-to('phone') {
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    width: 30%;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    text-align: center;
  
    @include mapTypeList((2, 0, 0, 1, 2, 2));
}