<header>
    <topbar></topbar>
</header>

<main>
    <h1>Found in {{ $ctrl.name }}.html</h1>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Get Started Quickly
                    </h3>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    
                    <h1>First Level Display</h1>
                    <h2>Second Level Display</h2>
                    <h3>Third Level Display</h3>
                    <h4>Fourth Level Display</h4>		
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adip<span class="red">*</span> isicing elit, sed do eiusmod <span class="red">*</span>tempor incididunt ut labore et dolore magna aliqua.Cum tamquam reformidans ea. Per in modus iudico iisque, in cum tantas invenire. Sit quando impedit euripidis te, per tollit legendos urbanitas ex, illud nostrum ius te.
                    </p>
                    <p class="small">Small Text: Per iudico iisque, in cum tantas invenire.</p>                    
                </div>
            </div>
        </div>
    </div>
</main>