@import '../../common/sass/common';

home {
    margin-top: -2em;
    @include respond-to('phone') {
        display: block;
        padding-top: 1.1em;      
        margin-top: 0;  
    }
    @include full-height();
    //header height
    height: calc(100vh - 90px);
    
    main {
        flex: 1;
        padding-top: 0;       
    }
    
    h1 {    
        @include mapTypeList((3, 1, 2, 3, 3, 3));
        @include respond-to('phone'){
            font-size: 2.5rem;
            line-height: 1;
        }        
    }

    h2 {
        @include mapTypeList((3, 1, 1, 1, 3, 3));
    }

    h3 {
        @include mapTypeList((3, 1, 1, 2, 2, 2));
    }    
    
}

.app-sections {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-sections .app-section {
    cursor: pointer;
    background: #444650;
    @include respond-to('phone') {
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    width: 30%;
    margin-top: 10px;
    line-height: 150px;
    font-weight: bold;
    text-align: center;
  
    @include mapTypeList((2, 1, 1, 2, 2, 2));
}