@import '../../common/sass/common';

@include respond-to('small') {
    
    home {            
        @include display-table();         

        section {
            @include display-table-cell();
        }  
    }    
}

home {
    .container {
        width: 100%;   
        margin: 0 auto;
        padding: 4rem 10%;      
        
        @include respond-to('small') {
            padding: 6rem 10%;
            width: 90%;
            max-width: 1000px;

        }
        
        @include respond-to('large') {
            width: 80%;
        }
    }
    
    h1 {
        margin: 0 0 1rem;
        line-height: 1.1;
    }    
    
    h1, li {
        font-family: 'Roboto Slab', serif;
    }
    
    h2 {
        margin: 1rem 0 2rem;    
        @include thin-font();        
        font-size: ms(4); 
    }     
    
}

.app-sections {
    padding: 0; margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-sections .app-section {
    
    font-size: 1.8rem;
    cursor: pointer;
    text-align: center;    
    background: #363740;
    width: 100%;
    line-height: 3.5em;
    margin-bottom: 0.5em;
    
    @include respond-to('small') {
        font-size: 1.3rem;
        width: 30%;
        line-height: 5em;
    } 
    
    @include respond-to('medium') {
        font-size: 1.8rem;
    } 
}

