@import url(//fonts.googleapis.com/css?family=Quicksand:300|Roboto+Slab:700|Cabin);
@import './node_modules/normalize.css/normalize';
@import './node_modules/purecss/build/buttons';		
@import './node_modules/purecss/build/forms';		
@import './node_modules/purecss/build/grids';
@import './node_modules/purecss/build/grids-responsive';	
@import 'common/sass/common';

* {
    box-sizing: border-box;
}

html {
    height: 100%; width: 100%;
}

body {
    height: 100%; width: 100%;
    background-color: #202126;
    overflow-x: hidden;
}

div[ui-view] {
    height: calc(100vh - 90px);
}

main {
    // padding-top: 2rem;
    // padding-bottom: 3rem;
}

.content {
    
    width: 100%;   
    margin: 0 auto;
    padding: 1rem 10%;
    
    @include respond-to('small') {

        padding: 3rem 10%;    
        width: 90%;
        max-width: 1000px;

    }
    
    @include respond-to('large') {
        width: 80%;
    }
}
