// @import url(//fonts.googleapis.com/css?family=Quicksand:300|Roboto+Slab:700|Cabin);
@import './node_modules/normalize.css/normalize';
@import './node_modules/purecss/build/buttons';		
@import './node_modules/purecss/build/forms';		
@import './node_modules/purecss/build/grids';
@import './node_modules/purecss/build/grids-responsive';	
@import 'common/sass/common';

* {
    box-sizing: border-box;
}

html {
    height: 100%; width: 100%;
}

body {
    height: 100%; width: 100%;
    background-color: #202126;
    overflow-x: hidden;
}

div[ui-view] {
    height: calc(100vh - 90px);
}


// typography

html {
    font-size: 90%;
    color: #fff;

    @include respond-to('small') {
        font-size: 100%;
    }
    
    @include respond-to('medium') {
        font-size: 110%;
    }
}

body {
    font-size: ms(0);
    @include main-font();
}

h4 {
    font-size: ms(3);
}
h3 {
    font-size: ms(4);
}
h2 {
    font-size: ms(6);
}
h1 {
    font-size: ms(7);
}

a {
    color: #fff;
    text-decoration: none;
}



// utils

.ovh {
    overflow: hidden;
}
