@import './node_modules/purecss/build/pure-min';
@import './node_modules/purecss/build/grids-responsive-min';
@import './node_modules/modularscale-sass/stylesheets/modular-scale';
@import 'variables';
@import 'mixins';
@import 'maps';
@import 'typography';
@import 'hover';


body {
    height: 100%;
    background-color: #202126;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 50px;
    line-height: 1.6em;
    
    @include respond-to('phone') {
        width: 100%;
    }
}
