$ms-base: 1rem;
$ms-ratio: $golden, 1.25;

@mixin thick-font(){
    font-family: 'Roboto Slab', serif;
}

@mixin thin-font(){
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -0.09rem;
    // word-spacing: -0.12rem;
}

@mixin main-font(){
    font-family: 'Cabin', sans-serif;
}

