@import '../../common/sass/common';

about {
    
    main {
        flex: 1;
    }
    
    span.large-heading {
        display: block;
        padding: 0.5em 0 0.3em;
        font-family: 'Roboto Slab', serif;        
        @include mapTypeList((2, 2, 2, 2, 3, 3));
    }
    
    .small-heading {
        $ms-base: 18px;
        @include mapTypeList((1, 1, 1, 1, 1, 1));
        @include respond-to('medium') {
            font-size: 2rem;
        }        
        font-family: 'Work Sans', sans-serif;
        line-height: 1.2;
    }
    
    .skills-development--heading, .skills-design--heading {
        border-bottom: 1px solid #ffffff;
        margin: 0 3em 0.6em 0;
        padding-bottom: 0.4em;         
    }
    
    .skills-design--heading {
        margin-top: 1em;
        @include respond-to('small') {
            margin-top: 0;
        }        
    }
    
    ul.skills-development--list, ul.skills-design--list {
        margin: 0;
        padding: 0;
        padding-left: 1.2em;
    }
    
    ul.skills-development--list li {
        float: left;
        width: 50%;
    }
    
}


