@import '../../common/sass/common';

@include respond-to('small') {
    
    contact {            
        @include display-table();

        section {
            @include display-table-cell();
        }  
    }    
}

contact {
    
    .container {
        width: 100%;   
        margin: 0 auto;
        padding: 3rem 10% 3rem;      
        
        @include respond-to('small') {
            width: 90%;
            padding: 3rem 5%;
            max-width: 1000px;
        }
        
        @include respond-to('large') {
            width: 90%;
        }         
    }
    
    h1 {
        margin: 0 0 1rem;
        font-size: ms(7);
        font-family: 'Roboto Slab', serif;  
    }
    
    h3 {
        margin: 0 0 1.5rem; 
        @include thin-font();              
        font-size: ms(1);
        line-height: 1.6;
        @include respond-to('small'){
            line-height: 1.3;
        }
    }

    form.pure-form {
        
        fieldset {
            input, input[type=text], input[type=email], textarea:last-child {
                margin-top: 1rem;
                
                background-color: #202126;
                box-shadow: none;
                border-color: #363740;
                
                height: 4rem;
                font-size: 0.8rem;
                padding-left: 1.4rem;
                
                &::placeholder {
                  color: #fff;
                }                                    
            }
            
            input[type=text] {
                margin-top: 0;
            }
            
            textarea:last-child {
                height: 8em;
                resize: none;
                
                &::placeholder {
                    padding-top: 0.5rem;                    
                }
            }
        }
        
        button.pure-button-primary {
            background-color: #363740;
            margin: 0.5rem 0;
            padding: 1rem;
            @include respond-to('medium') {
                width: 50%;
            }
        }        
    }
    
    .social-container {
        text-align: center;
        padding: 3rem 0 0;        
        
        @include respond-to('medium') {
            padding: 3rem 2rem 0;        
        }

        ul {
            padding-left: 0;
            @include main-font();
        }
    }
    
    .social-icons {
        
        @include respond-to('medium') {
            margin-top: 2rem;
        }
        
        ul {
            
            list-style-type: none;
            
            li {
                display: inline;
                padding-left: 1rem;
                &:first-child {
                    padding-left: 0;
                }
            }
            
            svg {
                width: 4rem;
                height: 4rem;
                @include respond-to('medium') {
                    width: 3rem;
                    height: 3rem;   
                }
                
                fill: #fff;
            }            
        }
    }
    
    .social-email-phone {
        ul {
            list-style-type: none;
            margin: 2rem 0 0;
            font-size: 0.9rem;
            
            @include respond-to('medium'){
                margin: 1rem 0;            
            }
            
            li {
                display: block;
                @include respond-to('large'){
                    display: inline;
                }
                
                &:first-child {
                    &:after {
                        display: none;  
                        @include respond-to('large') {
                            display: inline;
                        }                   
                        content: '|';
                        color: #fff;
                        padding: 0 0.5em 0 0.8em;
                    }
                }
                &:last-child {
                    font-size: 0.7rem;
                    margin: 0.5rem 0;
                }
            }
        }
    }
    
}
