@import '../../common/sass/common';


.intro {
    background-color: #ffffff;
    height: 100%;   
    left: 0;   
    margin: 0;    
    position: absolute;     
    top: 0;
    width: 100%;

    svg.logo {
        width: 25%;
        @include respond-to('small') {
            width: 20%;
        }
        @include respond-to('medium') {
            width: 15%;
        }                   
        
        max-width: 540px;  
        position: absolute;
        top: 47%;
        left: 50%;         
    }
    
    svg.logo {
        #thin path {
            opacity: 0;
        }
    }    
    
}